<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script><![endif]-->
	<title></title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link href="style.css" rel="stylesheet">
	<link href="/styles/style.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
</head>

<body>

<div class="wrapper">
	
	<?php require_once("header.html");?>
	<div class="clearboth interlayer"></div>
	<div class="middle">
		
		<aside class="left-sidebar">
			<?php require_once("leftPanel.html");?>
			<table class="left-menu-table">
				<tr>
					<td<?php if ($mode === 'archive') echo ' class="active"';?>><a href="/?m=index&mode=archive">Архив</a></td>
					<td></td>
				</tr>
			    <tr>
			        <td><a href="/?m=contacts">Контакты</a></td>
			        <td></td>
			    </tr>
			    <tr>
			        <td><a href="/?m=statistics">Статистика</a></td>
			        <td></td>
			    </tr>
			    <tr>
			        <td><a href="/?m=settings">Настройки</a></td>
			        <td></td>
			    </tr>
			</table>
		</aside><!-- .left-sidebar -->
		
		<div class="container">
			<main class="content">
				<table>
				    <tr class="tableglavl">
				        <td><input id="checkBox" type="checkbox" class="checkboxtable"><label class="checkall"></label><div class="checkghost"></div>Получатель</td>
				        <td>Трэк-код</td>
				        <td>Контактный номер</td>
				        <td>Вес груза</td>
				        <td>Стоимость</td>
				    </tr>
					<?php
						$filter = array();
						switch ($mode) {
							case 'normal': {
								$filter['active'] = 1;
								break;
							}
							case 'state0': {
								$filter['state'] = 0;
								
								$filter['active'] = 1;
								break;
							}
							case 'state1': {
								$filter['state'] = 1;
								$filter['active'] = 1;
								break;
							}
							case 'state2': {
								$filter['state'] = 2;
								$filter['active'] = 1;
								break;
							}
							case 'payed': {
								$filter['payed'] = 1;
								$filter['active'] = 1;
								break;
							}
							case 'npayed': {
								$filter['payed'] = 0;
								$filter['active'] = 1;
								break;
							}
							case 'archive': {
								$filter['active'] = 0;
								break;
							}
						}
						$products = $core->products->getProducts($filter);
						foreach ($products as $product) {
							?>
							<tr class="workertable" pid="<?php echo $product->id;?>">
								<td><input id="checkBox" type="checkbox" class="checkboxtable"><label></label><div class="checkghost"></div><?php echo $product->name;?></td>
								<td><?php echo sprintf("TR-UZ-%03d", $product->id); ?></td>
								<td><?php echo $product->phone;?></td>
								<td><?php echo $product->weight;?> кг</td>
								<td>$<?php echo $product->price;?></td>
							</tr>
							<tr>
								<?php
									global $core;
									global $langCode;
									$date = $core->locdate->getLocalizedShortDate($langCode, strtotime($product->date));
								?>
								<td colspan="5">
									<div class="leftinfoblock">
										<div class="printlabel">
											<a target="_blank" href="/?m=print&id=<?php echo $product->id;?>" class="printbuttonlink">
												<div class="printbutton">Печать наклейки</div>
											</a>
											<div class="datetext">Добавлен <?php echo $date;?></div>
										</div>
										<div class="textinfogruz">
											<span class="namefield">Адрес доставки</span><?php echo $product->address;?>
										</div>
										<div class="textinfogruz">
											<span class="namefield">Характер груза</span><?php echo $product->note;?>
										</div>
										<div class="textinfogruz">
											<span class="namefield">Примечание</span><?php echo $product->note;?>
										</div>
									</div>
									<div class="rightinfoblock">
										<div class="textinfogruz textinfogruzright">Принято в головном офисе
											<span class="namefield dateglav"><?php echo $date;?>, Стамбул</span>
										</div>
										<div class="makeedit">
											<a href="javascript:void(0)" onclick="setState(<?php echo $product->id;?>, 1)" class="makeeditbuttonlink">
												<div class="makeeditbutton">Внести</div>
											</a>Прибыло на территорию Узбекистана
										</div>
										<div class="makeedit">
											<a href="javascript:void(0)" onclick="setState(<?php echo $product->id;?>, 2)" class="makeeditbuttonlink">
												<div class="makeeditbutton">Внести</div>
											</a>Доставлено получателю</div>
									</div>
								</td>
							</tr>
							<?php
						}
					?>
				</table>
			</main><!-- .content -->
		</div><!-- .container-->

		<aside class="right-sidebar active">
			<div class="linkadd-button opencargo"><div class="add-button">Добавить груз</div></div>
			<div class="functionscheck">
				<div class="choosedtwocargo">Выбрано <span id="selectionCounter">2</span> груза(ов)</div>
				<div id="funcState1" class="caneditcargo">Прибыло в Узбекистан</div>
				<div id="funcState2" class="caneditcargo">Доставлено</div>
				<div id="funcArchive" class="caneditcargo">В архив</div>
				<div id="funcDelete" class="caneditcargo">Удалить</div>
			</div>
			<div class="charts">
				<div class="charts-global">Оплачено</div>
				<div id="chartLabelPayed" class="charts-summ"></div>
				<canvas id="myChart" width="80%" height="36Px"></canvas>
			</div>
			<div class="charts">
				<div class="charts-global">Не оплачено</div>
				<div id="chartLabelNPayed" class="charts-summ"></div>
				<canvas id="myChart2" width="80%" height="36Px"></canvas>
<script>
ajaxToCore('common', 'full_stat', {}, function(data) {
	var json = JSON.parse(data);
	if (json.err == '1') return;
	var sub = JSON.parse(json.msg);
	var npayed = new Array(31);
	var payed = new Array(31);
	for (var i = 0; i < 31; i++) {
		npayed[i] = 0; payed[i] = 0;
	}
	for (var day in sub.npayed) {
		var n = parseInt(day);
		npayed[n] = parseInt(sub.npayed[day]);
	}
	for (var day in sub.payed) {
		var n = parseInt(day);
		payed[n] = parseInt(sub.payed[day]);
	}
	$("#chartLabelPayed").html("$" + (sub.allp + 0) + "  /  " + (sub.wp + 0) + " кг");
	$("#chartLabelNPayed").html("$" + (sub.allnp + 0) + "  /  " + (sub.wnp + 0) + " кг");
	
	Chart.defaults.global.legend.display = false;
	var ctx = document.getElementById("myChart").getContext('2d');
	var myChart = new Chart(ctx, {
		type: 'line',
		data: {
			labels: new Array(31),
			datasets: [{
				display: false,
				label: '',
				data: payed,
				backgroundColor: [
					'rgb(241,242,252)'
				],
				borderColor: [
					'rgb(114,133,227)'
				],
				borderWidth: 1,
				pointRadius: 0,
				lineTension: 0
				
			}]
		},
		options: {
			scales: {
				xAxes: [{
					display: false
				}],
				yAxes: [{
					display: false
				}],
			}
			
		},
		
	});
	
	Chart.defaults.global.legend.display = false;
	var ctx = document.getElementById("myChart2").getContext('2d');
	var myChart = new Chart(ctx, {
		type: 'line',
		data: {
			labels: new Array(31),
			datasets: [{
				display: false,
				label: '',
				data: npayed,
				backgroundColor: [
					'rgb(241,242,252)'
				],
				borderColor: [
					'rgb(114,133,227)'
				],
				borderWidth: 1,
				pointRadius: 0,
				lineTension: 0
				
			}]
		},
		options: {
			scales: {
				xAxes: [{
					display: false
				}],
				yAxes: [{
					display: false
				}],
			}
			
		}
	});
});
</script>
			</div>
		</aside><!-- .right-sidebar -->
	<?php require_once("addForm.html");?>
	
	
	
	</div><!-- .middle-->
</div><!-- .wrapper -->
<script src="../js/main.js"></script>
<script>
	$("#search-track").keyup(function() {
		var search = $(this).val().toLowerCase();
		$("tr.workertable").each(function() {
			var childs = $(this).children("td").toArray();
			var name = $(childs[0]).text().toLowerCase();
			var code = $(childs[1]).text().toLowerCase();
			var phone = $(childs[2]).text().toLowerCase();
			if (name.search(search) != -1 ||
				code.search(search) != -1 ||
				phone.search(search) != -1) {
				$(this).show();
			} else {
				$(this).hide();
			}
		});
	});
	function setState(id, state) {
		ajaxToCore('index', 'set_state', {'id': id, 'state': state}, function (data) {
			var json = JSON.parse(data);
			if (json.err == '1') {
				alert('Ошибка! ' + json.msg);
			} else {
				alert(json.msg);
				window.location.reload();
			}
		});
	}
</script>
</body>
</html>