<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script><![endif]-->
	<title>Печать</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link href="/styles/print-label.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
</head>

<body>
<?php
	global $core;
	$id = $core->request->get('id', 'integer');
	$product = $core->products->getProduct($id);
	$from_days = $core->settings->getSetting('self_cost_from');
	$to_days = $core->settings->getSetting('self_cost_to');
	$date = strftime("%d %h", strtotime($product->date) + 86400 * $to_days);
?>
<div class="label">
	<div class="track-number"><?php echo sprintf("TR-UZ-%03d", $product->id); ?></div>
	<div class="logo-print"><img src="../images/onlylogo.png"></div>
	<div class="gruz textglob">Груз</div>
	<div class="tarif textglob">Тариф</div>
	<div class="gruzne textgnelob"><?php echo $product->note;?><br>Упаковка груза бесплатно. Доставка до вашего подъезда. Ваш груз застрахован.</div>
	<div class="globtarif">
		<div class="express">Экспресс</div>
		<div class="date-express"><?php echo $from_days;?> - <?php echo $to_days;?> дня(ей) · <?php echo $date;?></div>
		<div class="price-express">$<?php echo $product->price;?></div>
	</div>
	<div class="gruz2 textglob">Получатель</div>
	<div class="tarif2 textglob">Адрес доставки</div>
	<div class="gruzne3 textgnelob"><?php echo $product->name;?>,
<?php echo $product->phone;?></div>
	<div class="gruzne4 textgnelob"><?php echo $product->address;?></div>
</div>
<script>
	$(document).ready(function () {
		window.focus();
		window.print();
	});
</script>
</body>
</html>