<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script><![endif]-->
	<title></title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link href="style.css" rel="stylesheet">
	<link href="/styles/statistics.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
</head>

<body>
	<div class="bigboss">
		<div class="globlabel">Финансовая отчетность</div>
		<div class="descriptionlabel">Вы видите ниже статистику по доставке и отчеты по доходам</div>
	<ul class="dates">
		<li class="active month">Месяц</li>
		<li class="week">Неделя</li>
		<li class="day">День</li>
	</ul>
	<div class="statisticstable">
	</div>
	<div class="textlabel textlabel1">Прибыль</div>
	<div class="textprice textprice1 green">$4 563</div>
	<div class="textlabel textlabel2">Выручка</div>
	<div class="textprice textprice2 red">$35 534</div>
	<div class="textlabel textlabel3">Оплачено</div>
	<div class="textprice textprice3 red">$35 534</div>
	<div class="textlabel textlabel4">Не оплачено</div>
	<div class="textprice textprice4 green">$15 534</div>
	</div>
	<div class="close" onclick="history.back(1)"></div>
<script src="../js/back.js"></script>
<script src="../js/statistics.js"></script>
</body>
</html>