<?php
	global $core;
	$from_days = $core->settings->getSetting('self_cost_from');
	$to_days = $core->settings->getSetting('self_cost_to');
	global $langCode;
	$date = $core->locdate->getLocalizedShortDate($langCode, time() + 86400 * $to_days);
?>
<aside id="add_product" class="right-sidebar">
	<div class="backcargo">← Geri dön</div>
	<div class="cargoinput"><input type="text" name="name" class="addcargo" placeholder="Adı ve soyadı"></div>
	<div class="cargoinput"><input type="text" name="track" class="addcargo" placeholder="Трек-код" maxlength="4"></div>
	<div class="cargoinput"><input type="text" name="phone" class="addcargo" placeholder="Telefon numarası"></div>
	<div class="cargoinput"><input type="text" name="weight" class="addcargo" placeholder="Ağırlığı (kg)"></div>
	<div class="cargoinput"><input type="text" name="address" class="addcargo" placeholder="Teslimat adresi"></div>
	<div class="cargoinput"><input type="radio" name="dzen" value="0" class="radiodzen1" checked><div class="chradio chradio1 active">Türkiye'de ödeme</div></div>
		<div class="cargoinput"><input type="radio" name="dzen" value="1" class="radiodzen2"><div class="chradio chradio2">Özbekistan'da ödeme</div></div>
	<div class="cargoinput"><input type="text" name="note" class="addcargo" placeholder="Yorum"></div>
	<div class="date-delivery"><?php echo $from_days;?> - <?php echo $to_days;?> gün · <?php echo $date;?></div><div id="addFormPrice" class="price-dekivery">$0</div>
	<div class="clearboth"></div>
	<a href="javascript:void(0)" onclick="addProduct()" class="linkadd-button"><div class="add-button">Yük ekle</div></a>
</aside><!-- .right-sidebar -->

<script>
	var pricePerWeight = <?php echo $core->settings->getSetting('send_cost');?>;
	$("#add_product input[name='weight']").keyup(function() {
		var val = $(this).val();
		if (val == '') {
			$("#addFormPrice").html("$0");
			return;
		}
		var price = parseInt(val);
		price *= pricePerWeight;
		$("#addFormPrice").html("$" + price);
	});
	function addProduct() {
		var name = $('#add_product input[name="name"]').val();
		var track = $('#add_product input[name="track"]').val();
		var phone = $('#add_product input[name="phone"]').val();
		var weight = $('#add_product input[name="weight"]').val();
		var address = $('#add_product input[name="address"]').val();
		var payed = parseInt($('#add_product div.chradio.active').parent().find("input").attr("value"));
		var note = $('#add_product input[name="note"]').val();
		if (name && phone && weight && address) {
			var data = {
				'name': name,
				'phone': phone,
				'weight': weight,
				'address': address,
				'payed': payed,
				'note': note,
				'track_id': track
			};
			ajaxToCore('index', 'add_product', data, function (data) {
				var json = JSON.parse(data);
				if (json.err == "1") {
					alert("Ошибка! " + json.msg);
				} else {
					window.location.reload();
				}
			});
		} else {
			alert('Пожалуйста, заполните все поля!')
		}
	}
</script>