.container{
	width: 80%;
	padding-top: 20px;
	font-family: Arial;
}
.pricesend{

}
.pricesend span{
	color: #232323;
	font-size: 14px;
}
#NEtrogaimoiID_pricesend{
	padding-left: 10px;
	width: 39px;
	height: 36px;
	background-color: #f3f4f4;
	color: #232323;
	margin-left: 15px;
	margin-right: 15px;
	border:0;
	font-family: Arial;
	margin-top: 10px;
}
.mishin870{
	margin-left: 49px !important;
}
.mishin871{
	width: 31px !important;
	margin-left: 30px !important;
}
#forBLake_pleaseDontDelete{
	background-color: #0070e0;
	width: 148px;
	height: 38px;
	color: white;
	border:0;
	font-size: 14px;
	font-family: Arial;
	cursor: pointer;
	border-radius: 3px;
	margin-top: 35px;
}